/* Theme: Nord */
/* Source: https://www.nordtheme.com */
/* Include in waybar/style.css: @import url("colors.css"); */

:root {
  --background:        #2E3440;
  --foreground:        #D8DEE9;
  --cursor:            #D8DEE9;
  --selection:         #4C566A;

  --black:             #3B4252;
  --red:               #BF616A;
  --green:             #A3BE8C;
  --yellow:            #EBCB8B;
  --blue:              #81A1C1;
  --magenta:           #B48EAD;
  --cyan:              #88C0D0;
  --white:             #E5E9F0;

  --bright-black:      #4C566A;
  --bright-red:        #BF616A;
  --bright-green:      #A3BE8C;
  --bright-yellow:     #EBCB8B;
  --bright-blue:       #81A1C1;
  --bright-magenta:    #B48EAD;
  --bright-cyan:       #8FBCBB;
  --bright-white:      #ECEFF4;
}
